/* --- FONT IMPORTS --- */

@font-face {
    font-family: "Jost";
    src: local("Jost"),
     url(./fonts/jost_regular.ttf) format("truetype");
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
     url(./fonts/jost_medium.ttf) format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: local("Jost"),
     url(./fonts/jost_bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url(./fonts/Inter-Regular.ttf) format("truetype");
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url(./fonts/Inter-Medium.ttf) format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url(./fonts/Inter-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}


/* --- COLOR VARIABLES --- */
:root {
    --light-green: rgba(105,145,110,255);
    --lighter-green: rgba(174,195,177,255);
    --dark-green: rgba(12,56,43,255);
    --yellow: rgba(245,178,2,255);
    --brown: rgba(180,133,79,255);
    --green-grey: rgba(174,195,177,255);
    --white: #fff;

    
    --font-main: #434343;
    --font-accent: #BEBEBE;
    --background: #fff;
    --accent-primary: #FDD5C5;
    --accent-secondary: #628676;
}

/* --- STYLING RESETS --- */
* {
    margin: 0;
    padding: 0;
}

/* --- TEXT STYLING --- */
body {
    color: var(--dark-green);
}

p, a, span, ul, li {
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
    font-weight: bold;
}

/* --- GLOBAL STYLES --- */

.search-filter-add {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
  }